* {
  font-family: 'Alegreya Sans', sans-serif;
  /*font-family: 'Lato', sans-serif;*/
  font-weight: 300;
}

.main-background {
  /*background-image: url("http://3.bp.blogspot.com/-B1u_CRBljaU/UAXJJFimHRI/AAAAAAAABWk/bhbDG3L-hqg/s1600/The+setup.jpg");*/
  background-color:brown;
  border-bottom: 1px solid rgba(255,153,0,0.5);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(http://3.bp.blogspot.com/-B1u_CRBljaU/UAXJJFimHRI/AAAAAAAABWk/bhbDG3L-hqg/s1600/The+setup.jpg);
}

.bar-tab {
  background-color:#000;
}

.brewery-logo {
  max-height:80px;
  max-width: 80px;
}

/*background for title bar*/
.bar-nav {
  background-image: linear-gradient(to bottom, rgba(255, 153, 0, 0.1) 0%, rgba(255, 153, 0, 0.1) 100%), url(http://3.bp.blogspot.com/-B1u_CRBljaU/UAXJJFimHRI/AAAAAAAABWk/bhbDG3L-hqg/s1600/The+setup.jpg);
  /*background: rgba(255, 153, 0, 0.1);*/
  color:white;
}

/*background for title bar*/
.navbar-header {
  background-image: linear-gradient(to bottom, rgba(255, 153, 0, 0.1) 0%, rgba(255, 153, 0, 0.1) 100%), url(http://3.bp.blogspot.com/-B1u_CRBljaU/UAXJJFimHRI/AAAAAAAABWk/bhbDG3L-hqg/s1600/The+setup.jpg);
  /*background: rgba(255, 153, 0, 0.1);*/
  color:white;
}

/*background for title bar*/
.navbar-header {
  background-image: linear-gradient(to bottom, rgba(255, 153, 0, 0.1) 0%, rgba(255, 153, 0, 0.1) 100%), url(http://3.bp.blogspot.com/-B1u_CRBljaU/UAXJJFimHRI/AAAAAAAABWk/bhbDG3L-hqg/s1600/The+setup.jpg);
  /*background: rgba(255, 153, 0, 0.1);*/
  color:white;
}



.title {
  color:white;
}

.title-text {
  color:white;
  font-weight:400;
}

.subtitle-text {
  color:white;
  font-weight:400;
}

.bar-tab .tab-item.active, .bar-tab .tab-item:active{
  color: #ffa500
}

.icon-bars:before{
  color:#ffa500;
}

.icon-left-nav:before{
  color:#ffa500;
}

.orange-border {
  color:#ffa500;
  border: 1px solid orange;
}

.orange-color {
  color:#ffa500;
}

.comment-box {
  border:1px solid orange;
  background: rgba(0, 0, 0, 0.5);
}

.banner {
  color:#fff;
  background: #FFA500; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #CC7000, #FFA500); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #CC7000, #FFA500); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #CC7000, #FFA500); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #CC7000, #FFA500); /* Standard syntax */
  height:200px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.btn.btn-block.btn-outlined.orange-color {
  color:#ffa500;
  border: 1px solid orange;
}

.carousel-img-dimensions {
  width: 100%;
  min-height: 190px;
  max-height: 190px;
}

.item {
  transition: 1s filter linear;
  -webkit-transition: 1s -webkit-filter linear;
  -moz-transition: 1s -moz-filter linear;
  -ms-transition: 1s -ms-filter linear;
  -o-transition: 1s -o-filter linear;
  -webkit-filter: grayscale(100%);  Chrome, Safari, Opera
  filter: grayscale(100%);

}

.active {
  -webkit-filter: grayscale(20%);
  filter: grayscale(20%);
}

.dark-wrap {
  /*-webkit-filter: sepia(30%) hue-rotate(20deg);*/
  background-color: black;
  opacity: 0.7;
}
